

@{
    ViewBag.Title = "Human Resource Management System";

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.PageHead = "Change Password";
}
<div class="col-md-6">
    <span class="text-danger">Please fill fields below to change your password. </span>
    <hr />
    @using (Html.BeginForm("EmployeeChangePassword", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <span class="error-class">@ViewBag.FoundError</span>
        <br>
        <label>Enter Old Password : </label>
        <input type="password" name="userOldPassword" class="form-control">
        <label>Enter New Password :  </label>
        <input type="password" name="userNewPassword" class="form-control">
        <label>Retype Password :  </label>
        <input type="password" name="userNewPasswordRepeat" class="form-control">
        <br />
        <input type="submit" class="btn btn-info" value="Change Password" />

    }
    <br /><br />
</div>


@section MainSidebar {
   
        @Html.Partial("_MenuPartial");

    
}
